.action-bar {
  width: 100%;
  margin-bottom: 2rem;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.action-button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(90deg, #9A5583 0%, #35269A 52.5%, #181972 100%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.action-button:hover {
  transform: scale(1.05);
}

.action-button.active {
  filter: brightness(1.2);
}

.action-content {
  display: flex;
  justify-content: center;
}
